Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [5]:
Ans Q1="Rahul", ['viva','sana','Roshan'], 13.5, (1,2,3)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

Ans Q2. 

(i) var1 = String

(ii) var2 = String

(iii) var3 = List

(iv) var4 = Intiger

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %
(iii) //

(iv) **

Ans Q3. 

(i) / operator is used for division it can also performs floating-point division.

(ii) % operator is used as the modulo operator,It returns the remainder as output.

(iii) // operator to perform integer division, it will always shows whole intiger not floating figur.

(iv) ** it  is exponent operator always used for raised to the power

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [29]:
Rahul = [42, 'viva', 22.7, True, ['Roshan', 'sana'], {'Akshay': 'Neil', 'Roll No': 25}, None, (1, 2, 3), 5.6, False]

for family in Rahul:
    print(family, type(family))

42 <class 'int'>
viva <class 'str'>
22.7 <class 'float'>
True <class 'bool'>
['Roshan', 'sana'] <class 'list'>
{'Akshay': 'Neil', 'Roll No': 25} <class 'dict'>
None <class 'NoneType'>
(1, 2, 3) <class 'tuple'>
5.6 <class 'float'>
False <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [34]:

A = 9
B = 3
count = 0
while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(" A is divisible by number B three times.")
else:
    print("Number A is not divisible by number B.")

 A is divisible by number B three times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [61]:
X=[1,2,3,4,5,6,77,8,99,11,22,33,55,44,98,77,27,24,83,94,17,25,98,24,87]
           
for Y in X:
    if Y % 3 == 0:
        print("Element is divisible by 3")
    else:
        print("Element is not divisible by 3")

Element is not divisible by 3
Element is not divisible by 3
Element is divisible by 3
Element is not divisible by 3
Element is not divisible by 3
Element is divisible by 3
Element is not divisible by 3
Element is not divisible by 3
Element is divisible by 3
Element is not divisible by 3
Element is not divisible by 3
Element is divisible by 3
Element is not divisible by 3
Element is not divisible by 3
Element is not divisible by 3
Element is not divisible by 3
Element is divisible by 3
Element is divisible by 3
Element is not divisible by 3
Element is not divisible by 3
Element is not divisible by 3
Element is not divisible by 3
Element is not divisible by 3
Element is divisible by 3
Element is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans Q7 . In Mutable we can change the data ormodify the data Example  lists, dictionaries, sets.

In Immutable we cant change or modify the data Example integers, floats, strings, tuples.